<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:label="NovaCore"
        android:hasCode="true"
        android:allowBackup="false">

        <activity
            android:name="com.brenninho.novacore.MainActivity"
            android:label="NovaCore"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
